[nasa]
api_key = asd
api_url = https://api.nasa.gov/neo/

[mysql_config]
mysql_host = 127.0.0.1
mysql_db = asd
mysql_user = asd
mysql_pass = asd

[twitter]
consumer_key = asd
consumer_secret = asd
access_token = asd
access_token_secret = asd
